body {
    background-color: #333399;
    background-image: url("dafoe.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

img{    
  border-radius: 25px;
}
