<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>{{ name }}</title>
</head>
<body>          <!--links to professor's-->
    <div class="menu-link">
        <a href="profHomepage"> This is what my professor did </a>
    </div>
</body>

<div style="text-align: right;">        <!--DaHomie gif-->
    <img src="static/dafoe.gif" 
     width="300" 
     height="300" />
</div>

<div>           <!--Main content-->
    <h1>The shoddy homepage of Adrian Mejia</h1>

<h1> quick, think of something funny </h1>
<img src="/static/amogus.jpg"></img>
<a href="marvel"> marvel </a>
<a href="dc"> dc </a>
